/* regole di reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: white;
}

img { max-width: 100%; }
ul { list-style: none; }
li { cursor: pointer; }

/* ---*/

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
}

    /* TOOLBAR */

#toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    align-items: center;
}

/* gruppi icone */
#video-actions, #call-actions {
    display: flex;
    gap: 20px;
}

.icons-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

/* button fine chiamata */
#end-meeting {
    background-color: #4A4A4A;
    color: red;
    padding: 0 20px;
    cursor: pointer;
}

    /* main */
main {
    background-color: black;
}

/* schermata */
#screen {
    display: flex;
}
.call-partecipant {
    background-image: url(https://picsum.photos/id/1025/200/300);
    background-size: cover;
    width: 250px;
    height: 145px;
}

.row {
    display: flex;
    /* justify-content: space-around; */
    gap: 15px 15px;
}

/* footer */
footer {
    background-color: black;
}